@model coreapp2.Models.student
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Card -->
<a class="px-2 fa-lg tw-ic" href="/students"><i class="fa fa-angle-double-left"> </i></a>
<a class="px-2 fa-lg li-ic" href="/students/edit/@Model.Id"><i class="fa fa-edit"> </i></a>
<a class="px-2 fa-lg fb-ic" href="/students/delete/@Model.Id"><i class="fa fa-trash"></i></a>
<hr />
<!-- Card image -->
<div class="view view-cascade gradient-card-header blue-gradient">

    <!-- Title -->
    <h2 class="card-header-title mb-3">@Model.Name</h2>
    <!-- Subtitle -->

    <p class="card-header-subtitle mb-0">@Model.Age</p>

    <p class="card-text">@Model.Address</p>
</div>
