@model coreapp2.Models.student
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/students/Edit" method="post">

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="email">Name:</label>
        <!-- <input type="text" class="form-control" id="Name" placeholder="Enter email" name="Name" value="Name"> -->
        @Html.TextBoxFor(model => model.Name, new{ @class="form-control",placeholder="Enter email"})
    </div>
    <div class="form-group">
        <label for="pwd">Age:</label>
        <!-- <input type="number" class="form-control" id="Age" placeholder="Enter password" name="Age" value="Age"> -->
        @Html.TextBoxFor(model => model.Age, new{ @class="form-control",placeholder="Enter Age"})
    </div>
    <div class="form-group">
        <label for="pwd">Address:</label>
        <!-- <textarea class="form-control" id="address" rows="5" name="Address" placeholder="Enter Address">Address</textarea> -->
        @Html.TextBoxFor(model => model.Address, new{ @class="form-control",placeholder="Enter Address"})
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="/students" class="btn btn-danger">Cancel</a>
</form>
