@{
    ViewData["Title"] = "Contact";
}
                    Somewhere in this world<br />
                    <abbr title="Phone">Mob:</abbr>
                    9716 41 6313
                      <address>
                          <strong>Support:</strong> <a href="mailto:rud9321@gmail.com">Support@example.com</a><br />
                      </address>     



